APP_HOST=127.0.0.1
APP_PORT=8000
APP_RELOAD=true

TILLYPAD_SQL_SERVER=26.187.75.193
TILLYPAD_SQL_PORT=1433
TILLYPAD_SQL_DATABASE=TillypadSegment
TILLYPAD_SQL_USER=вставьте_sql_логин
TILLYPAD_SQL_PASSWORD=вставьте_sql_пароль
TILLYPAD_SQL_DRIVER=ODBC Driver 18 for SQL Server
TILLYPAD_SQL_ENCRYPT=no
TILLYPAD_SQL_TRUST_CERTIFICATE=yes
TILLYPAD_SQL_TIMEOUT=10
